<div class="container-fluid">
    <div class="row col-md-9">
        <div class="row" id="d-header">
            <div class="col-md-12 d-show-line">
                <h3 class="text-right">{{gallery.name}}</h3>
            </div>
        </div>
        <div class="row" id="d-main">
            <div class="col-md-6">
                <img ng-src="{{mainImg}}" class="img-rounded d-mainImg" />
            </div>

            <div class="col-md-6">
                <h4>Introduction: </h4>
                <p id="d-intro">
                    {{gallery.introduction}}
                </p>
            </div>
        </div>
        <div class="row" id="d-other">

            <div class="col-md-3">
                <ul>
                    <li class="d-li">
                        <span class="caret"></span>
                        <dl>
                            <dt>Address</dt>
                            <dd>{{gallery.address}}</dd>
                            <dt>Free Parking</dt>
                            <dd>{{gallery.parking | checkParkingFilter}}</dd>
                            <dt>Visited date</dt>
                            <dd>{{gallery.visit_time}}</dd>
                            <dt>Go to gallery's page</dt>

                            <a href="{{gallery.website}}">
                                <dd>Click here</dd>
                            </a>
                        </dl>

                    </li>
                </ul>
            </div>

            <div class="col-md-9">
                <ul>
                    <li ng-repeat="img in gallery.image" ng-if="$index>0" class="d-smallimg d-li">
                        <img ng-src="{{img}}" class="img-thumbnail" ng-click="setImg(img)"/></li>
                </ul>

            </div>

        </div>
    </div>

    <div class="row col-md-3">
    </div>
</div>
